.body
{
	font-family: sans-serif;
	color: #3c3939;
	background-color: #f1f1f1;
}
.image-container
{
	position:relative;
	
}
.info
{
	color: #24A74A;
	margin-right: 16px;
}
.main-container
{
	padding: 20px;
}
.skill-bar
{
	background-color: #84FAA6;
	border-radius:16px;
}
.progress-bar
{
	padding: 0.1em 16px;
	border-radius:16px;
	text-align: center;
	color: #fff;
	background-color: #24A74A;
}